<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./style.css">
	<style>
	</style>
	<script src="./vue.js"></script>
</head>
<body>
	<div id="app">
		<div style="float:left">
			<h2>自定义的下拉框</h2>
			<custom-select btn-value="查询"></custom-select>
			<!-- <table>
				<tr is="custom-select"></tr>
			</table> -->
		</div>
		<div style="float:left">
			<h2>自定义的下拉框2</h2>
			<custom-select btn-value="搜索"></custom-select>
		</div>
	</div>
	<script>
		/*var obj = {//不能共用一个obj
				selectShow:false
			}*/
		//注册组件 --全局注册
		Vue.component("custom-select",{
			data:function(){
				return {
					selectShow:false
				};
			},
			props:["btnValue"],//驼峰命名
			template:`<section class="warp">
						<div class="searchIpt clearFix">
							<div class="clearFix">
								<input type="text" class="keyWord" value="" @click="selectShow=!selectShow"/>
								<input type="button" :value="btnValue">
								<span></span>
							</div>
							<ul class="list" v-show="selectShow">
								<li>html+css</li>
								<li>html5+css3</li>
								<li>javascript</li>
								<li>angular</li>
								<li>react</li>
								<li>vue</li>
								<li>jquery</li>
								<li>nodejs</li>
							</ul>
						</div>
					</section>`
		})

		

		new Vue({
			el:"#app"
		})









	</script>
</body>
</html>
